[2015-05-20 19:17] alexandreleroux opened #1 "Feature request: multiple mcf file inclusions"
(issue moved from initial repos to GitHub) Feature request. Not a blocker. Would constitute a significantly useful new feature.

The existing mcf file inheritance feature via base_mcf= is useful but has a limitation that mcf files can have only a single 'parent' and a single 'child'. This is a tree structure. This limitation means that whole branches of the mcf file tree would need to be duplicate

[2015-05-21 12:39] alexandreleroux opened #4 "Website for pygeometa"
As discussed offline with @tomkralidis , we could eventually create a website for pygeometa (for docs, news via blog, etc). Could be hosted on http://geopython.github.io/pygeometa and leverage Jekyll.

More discussions required before proceeding.

[2015-05-21 12:51] alexandreleroux opened #5 "Validation of MCF files"
Feature request. (moved from the to-do list to the issue tracker)

Would be useful to have a validation mechanism for MCF files. Validating things such as: MCF syntax, missing non-optional values based on schema, duplicate base_mcf, etc

[2015-06-05 13:38] alexandreleroux opened #6 "Wrong French locale for the HNAP profile"
In the output XML, for the HNAP profile, the French locale must be #fra instead of #locale-fr

Thanks for the fix @tomkralidis  -- Alex

[2015-06-05 14:58] tomkralidis commented on #6
Fixed in master.  Can you verify and close if fixed?

[2015-06-05 15:15] alexandreleroux commented on #6
Thanks, I confirm it works. Closing ticket.

[2015-06-05 15:15] #6 closed

[2015-06-05 17:40] alexandreleroux opened #8 "On MCF parsing error, don't generate output XML"
Feature request. Currently, an empty XML output file is generated if pygeometa can't parse the whole MCF file because the MCF file contains syntax errors. Would be nice if the output XML file is written to file at the end of pygeometa's process, thus if pygeometa ends prematurely in a ParsingError, at least there won't be an empty file created.

This is different from feature request #5 which requ

[2015-06-08 00:04] tomkralidis commented on #8
@alexandreleroux can you provide a minimal MCF that would yield syntax errors?

[2015-06-08 12:54] alexandreleroux commented on #8
@tomkralidis Simply add a line that starts with '0' in the sample MCF. This will generate a syntax parsing error. Output XML will be created but empty.

[2015-06-08 14:17] alexandreleroux opened #9 "Specifying output XML filename and path with a parameter"
Feature request as discussed offline.
Ability to specify the output XML filename and location from a parameter when running pygeometa.

Example:
    generate_metadata.py --mcf=sample.mcf --schema=iso19139-hnap --outputxml=sample.xml

One advantage of proceeding this way is being able to handle errors before the outputxml file is created.

Documentation will need to be updated accordingly (I can do

[2015-06-08 14:18] alexandreleroux commented on #8
Closing, after discussion with @tomkralidis , a better solution is described in feature request #9

[2015-06-08 14:18] #8 closed

[2015-06-08 14:23] tomkralidis opened #10 "add --output option for writing to file via argument option"
cc @alexandreleroux

By default pygeometa writes to `stdout`.  Add `--output` parameter which writes to specified file.  This allows for catching errors and exiting gracefully without shell redirecting.

[2015-06-08 14:26] tomkralidis commented on #10
Implemented.  Default behaviour exists.  If `--output` is passed, file written to `stdout`.

@alexandreleroux can you update the docs?

[2015-06-08 14:45] tomkralidis commented on #10
oops, duplicate of #9

[2015-06-08 14:45] #10 closed

[2015-06-15 15:40] alexandreleroux commented on #10
Hi Tom, it failed running properly with --output. I got errors... I'll followup by email

[2015-06-16 17:13] alexandreleroux commented on #9
implemented, thanks @tomkralidis -- Alex

[2015-06-16 17:13] #9 closed

[2015-07-28 17:51] alexandreleroux opened #12 "crs input formats support"
Documentation specify that the CRS needs to be an 'EPSG code identifier'. Can pygeometa ingest anything else at the moment? Can it ingest OGC WKT directly? If not, should this be a feature request? Thanks -- Alex

[2015-07-28 18:21] tomkralidis commented on #12
@alexandreleroux the MCF `spatial.crs` value simply gets passed into, for example, https://github.com/geopython/pygeometa/blob/master/pygeometa/templates/iso19139/main.j2#L112.  So you can specify WKT and it will display in the output XML but with EPSG as the qualifier, which would be incorect.  We can open a feature request if this is desired.

[2015-07-28 18:27] alexandreleroux commented on #12
Thanks Tom. If the need for supporting WKT directly gets confirmed, I'll add a feature request. No further actions required at this point. Thanks -- Alex

[2015-07-28 18:27] #12 closed

[2015-07-31 15:40] alexandreleroux opened #15 "support HNAP distribution language implementation"
Feature request for the support of the HNAP schema, specifically the implementation of language in HNAP which doesn't use `gmd:language` but rather uses `xlink:role` for specifying language.

Possible implementation (not from me) proposes supporting tokens such as `[distribution:wms:eng-CAN]` and `[distribution:wms:fra-CAN]`, thus if there's three tokens (1:2:3), pygeometa can output the last toke

[2015-07-31 17:28] tomkralidis commented on #15
@alexandreleroux added in 4eb50e4ec7a5ce48225ff61364dd16b5cbf8324f.  You **may** want to document this somewhat for HNAP support.  I will say this is an exotic implementation of `xlink:role` as part of ISO.  ISO has numerous places to articulate language already

[2015-08-05 14:03] alexandreleroux commented on #15
Thanks for the implementation @tomkralidis ! I'm running into issues validating HNAP xml outputs from the latest pygeometa. I'll log as individual issues when appropriate

[2015-08-05 14:28] alexandreleroux opened #17 "Tagging current pygeometa version as 0.1.0 on GitHub"
Does it make sense to tag the current pygeometa version on GitHub as 0.1.0? It currently has no version number and this is annoying when trying to reference to a pygeometa version. Furthermore, pygeometa's output currently includes:

`<gco:CharacterString>This metadata record was generated by pygeometa-0.1.0 (https://github.com/geopython/pygeometa)</gco:CharacterString>`

It specifically states 0.

[2015-08-05 14:29] #15 closed

[2015-08-05 18:19] alexandreleroux opened #18 "Date requirements for HNAP 2.3"
Request for the adjustment of pygeometa's HNAP XML output for dates. As of HNAP 2.3, *both* publication and creation dates are mandatory (with their respective 'Date Type').

In a pygeometa MCF file, in the [identification] section, if I provide:
    date=1991-03-12T00:00:00Z
    datetype=publication
    date=1996-01-01T00:00:00Z
    datetype=creation
the first date is ignored (probably overwritte

[2015-08-10 14:20] alexandreleroux opened #19 "Corporate info requirements for HNAP2.3"
HNAP2.3 has mandatory requirements for 'Corporate information'. There are 3 parameters: Branch, Directorate and Project. The first two are mandatory and 'Project' is optional.

The ECDC provides a dropdown list for selecting Branch and Directorate, along with a freetext box for Project (in both language). In the pygeometa spirit, I suggest specifying 'Corporate info' directly in the MCF file. Para

[2015-08-10 15:01] alexandreleroux opened #20 "'Info classification' requirement for HNAP2.3"
HNAP2.3 has mandatory requirements for 'Information classification'.  There are 5 parameters:
- Information Category: mandatory
- Geography: mandatory
- Content: optional, can have multiple values
- Program: optional, can have multiple values
- GC Security Level: mandatory

ECDC provides dropdown lists of value values for these parameters. In the pygeometa spirit, I suggest specifying 'Information

[2015-08-10 15:29] alexandreleroux opened #21 "Support for multilingual Identification-URL"
In a pygeometa MCF file, we must specify the Identification 'url' parameter. We cannot currently specify different URLs for different languages. At least for HNAP, pygeometa stores this information in the output XML as gmd:supplementalInformation. However, for HNAP, this information needs to be provided in the output XML in both language.

Currently, pygeometa generates:
[code]

and the following

[2015-08-10 16:02] alexandreleroux opened #22 "Missing EPSG role in output HNAP XML"
Possible bug, at least a feature request for HNAP2.3 compliance.

In current HNAP XML output, for the EPSG we have:
[code]

while ECDC expects something along the lines of:
[code]
In this example, I chose 'Originator' as role, however, the ECDC proposes 15 possible values, such as  Author, Distributor, Editor, Owner, Publisher, Resource provider, Rights holder, etc.

Let me know how I can help, th

[2015-08-10 19:11] alexandreleroux opened #23 "Missing distributionformat in output HNAP XML"
Potential bug, or at least a parameter missing from the output HNAP XML. Under gmd:MD_Distribution, there should be a gmd:distributionFormat. Currently, distributionformat is nowhere in pygeometa's output XML.

Example I've been provided:
[code]
Let me know if you need more details, thanks! -- Alex

[2015-08-10 19:30] alexandreleroux opened #24 "Support for HNAP2.3 language requirement for WMS Map Resources"
HNAP2.3 requires the use of xlink:role to specify language for WMS Map Resources. Current pygeometa does not duplicate WMS Map Resources as required by HNAP2.3.

Here's an example of a desired HNAP2.3 output XML where you can see that gmd:transfer Options is duplicated for the WMS Map Resource to add French via xlink:role="urn:xml:lang:fra-CAN":
[code]
If you need additional info for supporting th

[2015-08-10 20:01] alexandreleroux opened #25 "HNAP's use of online resources descriptions"
This is a question, not a change request.

HNAP2.3 use an aggregation of 3 controlled fields for the description of online resources. It does not allow providing an actual description of the online resource in its description parameter. My questions:
1. Can we provide the description at another location in the output XML?
2. Is there a better way of specifying the HNAP-compliant description other

[2015-08-17 12:05] tomkralidis commented on #17
@alexandreleroux good point. Let's tackle the current outstanding issues and cut a 0.2.0 release.

[2015-08-17 13:50] tomkralidis commented on #18
Fixed in master branch via #27.  @alexandreleroux can you  update docs?  We now use `creation_date`, `publication_date`, and `revision_date` and no longer use `date` or `datetype`.

[2015-08-17 13:56] tomkralidis commented on #22
Fixed in master branch via #28

[2015-08-17 14:40] alexandreleroux commented on #18
updated documentation accordingly, closing ticket, thanks :-)

[2015-08-17 14:40] #18 closed

[2015-08-17 14:54] tomkralidis commented on #23
Fixed in master in #29.  Note that for `distribution:*` sections, if `format` and `format_version` parameters exist, they will be emitted on output.  @alexandreleroux can you add to docs?

[2015-08-17 15:11] tomkralidis commented on #21
Fixed in master in #30 .  If `identification.url` exists, output single language.  Else output `identification.url_en` and `identification.url_fr`.  @alexandreleroux: can you update docs?

[2015-08-17 15:30] tomkralidis commented on #25
Fixed in master in #31. Implemented only for HNAP via `hnap_contenttype_en` and `hnap_contenttype_fr`.  @alexandreleroux can you update docs?

IMHO this is an exotic stretch of implementing this in ISO when there are already slots in the spec to support this properly.

[2015-08-17 16:33] tomkralidis commented on #19
As discussed this requirement is a very specific use case which is best done downstream of pygeometa output.  Proposed workflow is to create an XML snippet of the information above and inject into XML like:

[code]
where `foo.xml` is the XML file to be injected into the pygeometa outputted file.

@alexandreleroux does this work for you?

[2015-08-17 16:57] tomkralidis commented on #20
Information Category: mandatory
    Geography: mandatory
    Content: optional, can have multiple values
    Program: optional, can have multiple values
    GC Security Level: mandatory

1. for program and GC Security Level as discussed in #19 you can use an XML injection as a post-process for `napec` based elements
1. for the information category, geography and content classifications how about 3

[2015-08-17 17:55] alexandreleroux commented on #22
confirmed fixed, thanks

[2015-08-17 17:55] #22 closed

[2015-08-17 19:52] tomkralidis commented on #24
Fixed in master.  The MCF section needs to coded like `distribution:wms_eng-FRA`.  pygeometa will emit everything after the `_` to build the `xlink:role` value.  So `distribution:wms_foo-bar` will result in `urn:xml:lang:foo-bar`.  @alexandreleroux can you update the HNAP docs?

[2015-08-18 12:49] alexandreleroux commented on #1
@tomkralidis as discussed, I sent you an example MCF with multiple referenced MCF files.

Additional comment absent from original request regarding collision handling. Collisions is when param_A is specified both in the actual MCF and the referenced MCF. My hope would be that collisions are allowed and that values in the actual MCF overwrites any pre-specified values in the referenced MCF file.

[2015-08-18 15:09] alexandreleroux opened #32 "WMS layer specification in HNAP2.3"
HNAP2.3 needs the WMS layer also specified in the gmd:linkage gmd:URL element of the output XML.

Current output XML:
[code]
While HNAP2.3 needs:
[code]
Let me know if you need additional details.

[2015-08-20 12:14] alexandreleroux commented on #32
Closing. This can successfully be manually set in distribution.url. Not worth automating since this is an HNAP-only requirement

[2015-08-20 12:14] #32 closed

[2015-08-20 12:19] alexandreleroux commented on #21
I confirm solution works. Thanks! Will close ticket after updating docs.

[2015-08-24 15:02] alexandreleroux commented on #25
Thanks Tom. There's something wrong in current pygeometa implementation. I get:
[code]
while it should ne "Dataset;Other;eng" on the second line. The MCF file is fine. Let me know if you need more details to fix this. Thanks -- Alex

[2015-08-24 15:45] alexandreleroux commented on #1
I confirm it works GREAT. Thanks a bunch. Leaving ticket open until documentation is updated accordingly.
Notes:
* Multiple sections of an MCF file can refer to the same base_mcf file
* Collisions: parameters set in the MCF file overwrites the parameters in a base_mcf file

[2015-08-24 18:26] alexandreleroux commented on #25
there's now format_en and format_fr in pygeometa, this apparently fixes the latest issue. I'm leaving open until I update documentation accordingly

[2015-08-24 18:34] alexandreleroux opened #33 "Generic design pattern to support multiple languages based on MCF parameters"
As discussed with @tomkralidis ; pygeometa's MCF parameters should support a generic design pattern for language.

Example for the 'format' parameter:
- given format, format_en, or format_fr
- if !format_en, then single lang output, else multiple lang

Same applies for all parameters (eg description, description_en, description_fr)

[2015-08-25 16:06] alexandreleroux commented on #1
Updated doc in commit bd6d324 . closing ticket, thanks for this important improvement! -- Alex

[2015-08-25 16:06] #1 closed

[2015-08-25 17:27] alexandreleroux commented on #21
Closing, added doc on commit 0027b093c65fd09d3cc6f95971029187d736baf5 ... that said, we do need cleaning multilanguage (code+doc) as stated in #33

[2015-08-25 17:27] #21 closed

[2015-08-25 17:35] alexandreleroux commented on #23
Updated doc in commit 363d80b994aaa4f6603840f536220bd1830b5d82 , closing ticket

[2015-08-25 17:35] #23 closed

[2015-08-25 17:42] alexandreleroux commented on #24
@tomkralidis I propose a new HNAP-schema.md document in pygeometa/doc/ for everything related to the use of the HNAP schema in pygeometa that doesn't apply to other schemas, agreed?

[2015-08-25 17:44] alexandreleroux commented on #25
@tomkralidis this too would go in HNAP-schema.md, re https://github.com/geopython/pygeometa/issues/24#issuecomment-134682325 , agreed?

[2015-08-25 17:49] tomkralidis commented on #24
:+1:

[2015-08-25 17:49] tomkralidis commented on #25
:+1:

[2015-08-25 18:23] alexandreleroux commented on #24
Now in new https://github.com/geopython/pygeometa/blob/master/doc/HNAP-schema.md documentation, closing ticket. Thanks

[2015-08-25 18:23] #24 closed

[2015-08-25 18:29] alexandreleroux commented on #25
Updated doc in https://github.com/geopython/pygeometa/blob/master/doc/HNAP-schema.md and in the main reference doc, closing ticket. Thanks -- Alex

[2015-08-25 18:29] #25 closed

[2015-09-02 15:31] alexandreleroux commented on #20
@tomkralidis
1. Agreed, GC Security Level can be dealt with via post-pygeometa xml injection just like issue #19, I'll try to take care of this
2. Ok for the new hnap-specific parameters for info+geo+content. Since these will have different values based on the dataset, it needs to be specified in the MCF itself, I'm letting you implement that part

[2015-09-03 12:03] tomkralidis commented on #20
@alexandreleroux implemented in master, can you verify?

[2015-09-04 14:48] alexandreleroux commented on #20
@tomkralidis thanks, after fixing typos, I confirms it works.

Leaving ticket open to address:
1. GC Security Level
2. Update pygeometa's hnap documentation for the 3 new hnap_category_* parameters

[2015-09-04 15:09] alexandreleroux opened #34 "MD_Format missing in output xml"
We get an error related to the missing MD_Format from the distribution info. I don't know if this is an HNAP-only issue or not. And I admit I know what is the desired value for the parameter (provided we already provide distribution info elsewhere!).

Here's the gmd:MD_Format tag missing in a code sample that has been provided to me, along with some context before+after:
[code]

Let me know if thi

[2015-09-08 14:20] alexandreleroux commented on #34
Confirmed fixed in commit f1c9e5ad7ed2d10165cfc644c5e47420f9b72924 , closing, thanks :)

[2015-09-08 14:20] #34 closed

[2015-09-08 15:46] alexandreleroux commented on #19
Injection of corporate info works, will close ticket once documentation is updated

[2015-09-08 15:47] alexandreleroux commented on #20
gc security level addressed by xml injection implemented for #19 . Need to update documentation accordingly

[2015-09-14 18:59] alexandreleroux opened #36 "Missing xsd for HNAP"
Missing xsd for the HNAP schema.

[code]

[2015-09-14 19:11] tomkralidis commented on #36
@alexandreleroux actually this is better off as a post-processing step because napec is outside the scope of pygeometa.

[2015-09-18 13:49] alexandreleroux commented on #36
Url http://www.ec.gc.ca/data_donnees/standards/schemas/napec schema.xsd is broken. ECDC is investigating.

[2015-09-18 13:55] tomkralidis commented on #36
The schema is there:
http://www.ec.gc.ca/data_donnees/standards/schemas/napec/schema.xsd

On Fri, Sep 18, 2015 at 9:49 AM, Alexandre Leroux <notifications@github.com>
wrote:

[2015-09-18 14:03] alexandreleroux commented on #36
yes, it's a typo they need to fix in the ECDC editor itself

[2015-09-18 14:09] tomkralidis commented on #36
`xsi:schemaLocation` needs to be correctly crafted with the pattern `<namespace> <schema_location>`.  So a correct example would be:

`xsi:schemaLocation="http://www.ec.gc.ca/data_donnees/standards/schemas/napec  http://www.ec.gc.ca/data_donnees/standards/schemas/napec/schema.xsd"`

Of course just putitng `schema.xsd` implies that the XSD document is a relative path to the XML, which will usually

[2015-10-07 20:45] tomkralidis commented on #33
@alexandreleroux implemented via #39.

[2015-10-08 11:30] alexandreleroux commented on #33
Thanks. What's left before closing? There's at least updating the docs, anything else?

[2015-10-08 11:52] tomkralidis commented on #33
I would say to ensure docs are updated accordingly.

[2016-02-09 20:32] alexandreleroux opened #42 "Support for WMO Core Profile"
If pygeometa is to support the 'WMO Core Profile', users will be able to use pygeometa to fulfil WMO WIS requirements.

http://www.wmo.int/pages/prog/www/WIS/metadata_en.html

[2016-05-24 19:46] bjamesvERT opened #44 "Unilingual MCF render_template error"
When the example 'language_alternate' directive is removed from an MCF (i.e.: creating a unilingual MCF), or if the directive is set to an empty value (e.g.: "language_alternate="), iso19139 Jinja2 template appears to raise UndefinedError

Example:
[code]

([sample MCF attached](https://github.com/geopython/pygeometa/files/280366/unilingual.mcf.TXT))

[2016-06-07 00:04] bjamesvERT opened #47 "error with pip install from source"
Attempting to install pygeometa from source using pip fails, seemingly because setup.py imports 'pygeometa'.. the package which is to be built.

[code]

[2016-06-07 00:10] bjamesvERT commented on #47
pygeometa seems to be imported, only to get the module version info.

replacing import with regex as recommended by PyPA seems to fix the issue

(also, it's no longer necessary to manually preinstall dependencies via 'pip install -r requirements.txt' before running python setup.py build - after the self-import in setup.py is removed)

[2016-06-28 21:21] tomkralidis commented on #42
Implemented in master.

[2016-06-28 21:21] #42 closed

[2016-07-06 13:29] samperd opened #51 "Generate Metadata from OGC OWS sources"
As a metadata manager
I want to create "initial" or "stub" metadata records in ISO XML format using OGC Web Services (OWS) as the source for metadata
So that I can reference these "stub" metadata records in my OWS (eg WMS Metadata URL) or import them into a catalogue (eg GeoNetwork)

Use case:
An organization already has one or more OWS services. Data managers have already created services with mi

[2016-07-06 13:29] samperd commented on #4
+1

[2016-08-24 19:59] #47 closed

[2016-08-24 20:04] #44 closed

[2016-09-14 15:29] alexandreleroux opened #52 "MCF keyword substitution at run time (e.g. date)"
Feature request. It would be useful to have keywords in the MCF files to be substituted when pygeometa is ran.

As an example, if the keyword $date$ would be substituted by the actual datestamp at time of execution that would allow MCF files to require less modifications before generating XML files with pygeometa, thus less chances of errors.

Examples of where $date$ and $year$ keywords could be

[2016-09-15 01:39] tomkralidis commented on #52
Implemented in master.  @alexandreleroux can you verify?

[2016-09-15 01:49] tomkralidis commented on #17
Version 0.1.0 tagged.

[2016-09-15 01:49] #17 closed

[2016-09-15 12:46] alexandreleroux opened #54 "Support for YAML as input format for metadata control file"
Long term feature request, no rush to implement this on my end.

It would be useful if pygeometa was to support YAML as input format for metadata in addition to the MCF format.

[2016-09-15 13:33] alexandreleroux opened #55 "Support for not specifying a language for a dataset"
Request for supporting 'inapplicable' for [identification]:language values.

In the case where a dataset is made of numerical values, it makes sense for the dataset's language to be set to 'none' or its ISO19115 equivalent. pygeometa needs to support this value.

[2016-09-15 13:45] tomkralidis commented on #55
Implemented in master using the `gco:nilReason` enumeration of:

- missing
- withheld
- inapplicable
- unknown
- template

@alexandreleroux please verify and add to docs.

[2016-10-24 20:43] tomkralidis opened #57 "support reading from non-file objects"
cc @alexandreleroux

Currently pygeometa's API allows for only passing an MCF file by filepath:

[code]
Allow for passing of either plain old strings or [ConfigParser](https://docs.python.org/2/library/configparser.html) objects:
[code]
[code]

[2016-10-25 01:18] tomkralidis commented on #57
Implemented in master and docs updated.

[2016-10-25 01:18] #57 closed

[2016-10-28 21:52] tomkralidis commented on #54
@alexandreleroux questions/comments:

- what's the value proposition around moving to YAML?
- we can certainly do more with YAML as a config format (nesting, better includes, cardinality, etc.)
- should we support both, or just a hard move to YAML (with a migration script for MCF to YAML)?  If we want to support both, then then YAML possibilities are bound to the MCF (i.e. the ini file) limitation

[2016-11-15 20:23] alexandreleroux commented on #54
My non-expert understanding:
* yaml's indentation makes it much easier to read than the mcf / ini format
 * this is significant given that's what data stewards in an organisation leveraging pygeometa will use to view and edit metadata records
* like you pointed out already, yaml and its libraries support nesting / includes / cardinality
* I'm fine with supporting only yaml in the future. A tool to

[2016-11-21 13:37] alexandreleroux opened #59 "Specifying the --output argument with the = sign in documentation"
Documentation currently indicate:
* `generate_metadata.py --mcf=path/to/file.mcf --schema_local=/path/to/my-schema --output some_file.xml`
which works, but for homogeneity, I'd suggest adding the `=` to `--output` and thus changing to
* `generate_metadata.py --mcf=path/to/file.mcf --schema_local=/path/to/my-schema --output=some_file.xml`
which also works without any code change, only documentation

[2016-11-21 14:00] tomkralidis commented on #59
+1.

[2016-11-21 14:10] #59 closed

[2016-12-20 20:04] alexandreleroux opened #63 "Batch processing of MCF files from a user-specified location"
Feature request for the capability to launch pygeometa and process multiple MCF files located in a user-specified directory with a single command.

This 'batch mode' could be invoked directly from pygeometa with the ```--batch``` argument. If ```--batch``` is specified, then pygeometa is ran for every mcf files in the directory specified with ```--mfc=``` and all the outputs files are named the sa

[2016-12-20 20:09] alexandreleroux opened #64 "Autolaunch of post-processing script"
Feature request for the capability to specify a post-processing script to be ran after pygeometa is done generating the output xml. The post-processing script could be invoked with ```--postprocessing=script-name.py```. The pygeometa arguments would be sent to the post-processing script, which could thus identified which input mcf file has been specified and which output xml file has been generate

[2016-12-20 20:37] alexandreleroux opened #65 "Test and fix 'mandatory' properties in MCF_Reference.md"
There are most probably errors in the [MCF_Reference.md](https://github.com/geopython/pygeometa/blob/master/doc/MCF_Reference.md) file regarding which properties are indeed mandatory when it comes localization.

Example, 'organization' is flagged as mandatory, but 'organization_en' and 'organization_fr' as well. Same for 'url', 'url_en' and 'url_fr'. I suggest that properties flagged as mandatory

[2016-12-20 22:47] tomkralidis commented on #65
👍 sounds good @alexandreleroux!

[2016-12-22 16:42] alexandreleroux commented on #63
Regarding the possibility of skipping the generation of the XML when the MCF has not changed since last time the batch mode was ran, instead of looking for dates in the log (no logs exist at the moment), we could consider looking at the DateTime value within dateStamp, if present in the XML.
[code]
Does this make sense? While there's multiple DateTime values in the output XML, there's only a singl

[2016-12-22 16:49] alexandreleroux commented on #52
Thanks @tomkralidis Using this new substitution, I observe the following difference.

Without substitution:
[code]

With the substitution:
[code]

With the substitution, we go from 'date' to 'datetime'. If that's not a problem according to you, then let's close the issue. I'll add this in the documentation right away.

[2016-12-22 18:17] #52 closed

[2017-02-09 16:52] alexandreleroux commented on #54
@tomkralidis in your YAML-MCF example, is there a reason both Contact and Distribution are split into distinct yaml elements? Example, why not, for distribution:
[code]
Similar comment for keywords under identification, could they be grouped together?

[code]
Does such groupings make sense? Thx! -- Alex

[2017-02-09 17:25] tomkralidis commented on #54
Makes sense, and we can apply it to different sections as well.  This will be nice as it will allow clean grouping that wasn't possible before given the ini format.

Updated example:

[code]

[2017-02-10 23:00] tomkralidis commented on #54
@alexandreleroux for review and comment: Initial changes are in https://github.com/geopython/pygeometa/tree/issue-54.  Notes:

- see the updated `sample.mcf` for updates to the config representation now in YAML
  - contacts are now dicts
  - distributions are now dicts
  - we can now use YAML's native reference/dereferencing features (`&ref`, `*ref`) instead of a `ref` option to reuse other parts

[2017-02-16 11:30] tomkralidis commented on #54
@alexandreleroux more updates in branch `issue-54`:

- MCF now has a section called `mcf`, which initially has a `version` field to denote the version of the MCF
- the cli has been refactored to support a single `pygeometa` script with subcommands.  Examples:

[code]
- added migration script to convert old MCF files to YAML

[2017-03-23 20:55] tomkralidis commented on #54
Implemented in master.

[2017-03-23 20:55] #54 closed

[2017-03-24 12:07] tomkralidis opened #68 "support multiple topiccategory elements"
pygeometa currently setting and emitting a single `topiccategory`/`gmd:topicCategory`.  Support multiple elements so users can identify more than one topic category.

[2017-03-24 14:14] tomkralidis commented on #68
Implemented in master.

[2017-03-24 14:14] #68 closed

[2017-03-29 18:25] emiliom commented on #51
:+1:

[2017-03-30 12:20] samperd commented on #51
A bit more detail by way of sample workflow:

1. Get your data ready
2. Setup your OWS service
3. create a PyGeoMeta MCF referencing a single (or multiple) OWS service
4. Start up Pygeometa pointing to MCF file
4.5 PyGeoMeta makes an OWS call and pulls in "harvests" all avaialble MD from the service.
5. Resulting in one or more MD records (or I guess additional MCF Files) produced for each "layer"

[2017-03-30 14:30] tomkralidis commented on #51
Certainly a useful workflow.  Given pygeometa is an enabler of workflows, suggest a contrib script to parse an OWS into 1..n MCF files (YAML objects).

[2017-07-11 00:10] tomkralidis opened #73 "update base_mcf behaviour"
cc @alexandreleroux

Our current `base_mcf` support requires the base MCF to be a fully qualified MCF.  Update `base_mcf` support so that base MCF files are relative from where they are defined.  This results in, by design, MCF snippets which are not required to be fully qualified MCF files.  In addition, inheritence should continue to be supported (i.e. if value in base MCF and not in child MCF,

[2017-07-11 02:54] tomkralidis commented on #73
Fixed in master.  Assigning to @alexandreleroux for docs.

[2017-07-12 17:54] alexandreleroux commented on #5
Now that pygeometa has moved to the yaml format for its MCFs, the following tools might be useful to fulfill this feature request? https://github.com/Grokzen/pykwalify and https://github.com/adrienverge/yamllint

[2017-07-12 19:12] tomkralidis commented on #64
I'd rather delegate this functionality downstream so that pygeometa continues to follow the [UNIX philosophy](https://en.wikipedia.org/wiki/Unix_philosophy) (do one thing and do it well).

Suggested approaches:

- build your own Python script which uses pygeometa as a library for a custom workflow
- pipes: pygeometa outputs to file (via `--output`) or to `stdout` by default.  So one can run someth

[2017-07-12 19:19] alexandreleroux commented on #64
Agreed. Thanks for the feedback @tomkralidis

[2017-07-12 19:19] #64 closed

[2017-07-12 19:33] alexandreleroux opened #76 "Expose pygeometa log messages when running from the command line"
Feature request to have pygeometa log messages to be exposed when running from the command line. The user should be able to specify the log level to output (e.g. info, warning, error, debug).

[2017-07-12 20:12] alexandreleroux commented on #19
After validation, this is a requirement on top of the HNAP schema and should be handled outside of pygeometa. Closing

[2017-07-12 20:12] #19 closed

[2017-07-12 20:13] alexandreleroux commented on #20
After validation, this is a requirement on top of the HNAP schema and should be handled outside of pygeometa. Closing

[2017-07-12 20:13] #20 closed

[2017-07-12 20:13] alexandreleroux commented on #36
Indeed outside of pygeometa's scope, closing.

[2017-07-12 20:13] #36 closed

[2017-10-26 18:50] RousseauLambertLP opened #77 "Change variable name: #locale-fra to #fra"
I tried to import some metadata xml files to ECDC but I get some errors. One of them is because we use a variable #locale-fra.

Jose Garcia working on ECDC told me that we should use #fra instead.

@tomkralidis @alexandreleroux should I update https://github.com/geopython/pygeometa/blob/master/pygeometa/templates/iso19139-hnap/main.j2 to output #fra?

[2017-10-27 00:21] tomkralidis commented on #77
cc @josegar74

`#locale-fra` is just a pointer/label, so in theory any metadata parser should just follow this.  Regardless, updated in master to emit `#fra`.

[2017-10-27 00:21] #77 closed

[2017-10-27 13:32] RousseauLambertLP opened #78 "language_alternate "fr" to "fra""
Our local variable for french in the yaml definition are "fr", but only "fra" is supported in ECDC. When generating the xml, some keywords are created with:

* `<gmd:LocalisedCharacterString locale="#fr"`
instead of:
* `<gmd:LocalisedCharacterString locale="#fra"`

The result is that in ECDC, those keywords are not translated in french...

I suggest we modify a little bit https://github.com/geopyt

[2017-10-31 11:40] tomkralidis commented on #78
@RousseauLambertLP : given `fra` is a hard HNAP requirement I've added a fix local to HNAP only for this case.  Can you validate against master?

[2017-10-31 12:57] RousseauLambertLP commented on #78
I validated it and it works fine, closing the issue.

Thanks @tomkralidis !

[2017-10-31 12:57] #78 closed

[2017-10-31 13:50] alexandreleroux opened #79 "Import ISO metadata records into MCFs"
Feature request for pygeometa to be able to import ISO metadata records from external sources and create corresponding pygeometa MCF records in the yaml format.

Example use cases:
* help users create a first version of their existing metadata records in the pygeometa yaml MCF format, for those wanting to adopt pygeometa in their workflow
* allow users relying on metadata records in pygeometa's MC

[2017-11-01 11:50] tomkralidis commented on #79
Initial work started in https://github.com/geopython/pygeometa/tree/issue-79

[2017-11-06 23:26] tomkralidis commented on #76
@alexandreleroux implemented in master via #80.  Can you validate?

[2017-11-21 19:30] RousseauLambertLP opened #81 "Update $date$ in core.py"
So $date$ in pygeometa creates a datetime representation. ECDC would like us to change our date format for publication:
* "Publication date uses gco:DateTime, if the metadata is edited the value is lost as in ECCC metadata editor only is managing gco:Date. For FGP version this was updated, but was requested to not include in ECCC version. Please if you can create the metadata for now using gco:Dat

[2017-11-21 19:41] tomkralidis commented on #81
Thanks @RousseauLambertLP.  Fixed in master.  Can you validate and close if the fix works?

[2017-11-21 20:28] tomkralidis commented on #81
Oops! Fixed now.

[2017-11-22 13:04] #81 closed

[2017-12-08 19:30] RousseauLambertLP commented on #63
I wrote a first version of the script with a --batch option. With this option, we need to provide folder for --mcf and --output. I will update the documentation and let you know once this is done.

First version of the script: https://github.com/RousseauLambertLP/pygeometa/blob/issue-63/pygeometa/core.py

[2017-12-08 19:43] RousseauLambertLP commented on #63
I just added one use case in the README file.

https://github.com/RousseauLambertLP/pygeometa/blob/issue-63/README.md

[2017-12-13 16:05] alexandreleroux opened #83 "MCF version value for new YAML MCF format?"
In the pygeometa MCFs, there's a value for the MCF version as stated [in the documentation](https://github.com/geopython/pygeometa/blob/master/doc/MCF_Reference.md#sections):
[code]

Given we changed the MCF format from INI to YAML, does it make sense to specify mcf.version: 2.0.0 now? Thanks. Copying @RousseauLambertLP

[2017-12-13 16:21] tomkralidis commented on #83
+1 to default to 2.0.0, we should probably stick to x.y format (2.0) as a rule.

[2017-12-13 16:54] alexandreleroux opened #84 "pygeometa self test fail"
Seems like [running pygeometa self tests](https://github.com/geopython/pygeometa#running-tests) fail after a fresh installation.

Beginning of the error message:
[code]
Copying @RousseauLambertLP . Thanks!

[2017-12-13 18:41] alexandreleroux commented on #83
Agreed. Updating our local YAML MCFs. Leaving open until pygeometa documentation is updated

[2017-12-13 20:00] tomkralidis commented on #83
I just realized pygeometa has never made it to a 1.0.0 release yet.  Should we keep the YAML version to 1.0 and assume the INI files were pre-1.0?  We don't have to follow YAML version with pygeometa version per se, but given the INI files were never versioned it may make sense. Thoughts?

[2017-12-14 14:23] alexandreleroux commented on #83
Agreed. Let's revert our local MCF version to "1.0". Copying @rousseaulambertlp

Furthermore, am I right that currently there isn't any validation of the MCF version value done when running pygeometa? There should be such a test that validates that the MCF version is indeed a supported version by pygeometa. If you agree, I'll create a new ticket accordingly. Merci

[2017-12-14 14:30] tomkralidis commented on #83
@alexandreleroux agree and +1 for a new ticket on how to deal with mcf version checking and management.

[2017-12-14 14:48] alexandreleroux opened #85 "MCF version validation before running pygeometa"
There should be a mechanism in pygeometa that validates that the MCF version stated in an input MCF file is indeed supported by pygeometa.

[2017-12-14 14:50] alexandreleroux commented on #5
The validation of MCF files should be done while considering the stated MCF version. See #85

[2017-12-14 14:51] alexandreleroux commented on #83
Done and closing this one

[2017-12-14 14:51] #83 closed

[2017-12-14 16:11] tomkralidis commented on #85
Thanks @alexandreleroux.  Questions:

- MCF version is a *required* value, so if it's missing it's an error
- how do we manage MCF versions?  Suggest we support with pygeometa versions major versions
- what's the nature of the behaviour we're looking for? i.e.:
  - pygeometa manages versions in an n-1 fashion, i.e. its current version and the previous major version?
  - if a version is not support

[2017-12-14 19:00] alexandreleroux commented on #85
@tomkralidis good questions
* I confirm: if an MCF file doesn't state its version, then an error is provided
* Management of versions, when a new MCF version is created:
  * the sample.yml should be updated accordingly
  * pygeometa documentation should be updated accordingly
  * pygeometa should be tested against this new MCF version
  * if tests succeed, the next pygeometa release must support t

[2017-12-14 19:56] tomkralidis commented on #85
+1, will have something soon.

[2017-12-14 20:45] tomkralidis commented on #85
Fixed in #87.  Documentation needs to be updated.

[2017-12-15 12:21] RousseauLambertLP commented on #85
Looking at the code, mcf_versions is initialized twice (L154 and L224) and used only in line 226.

I think we could remove one of the line where it's initialized. I tested it without line 154 and it works fine.

[2017-12-15 12:26] tomkralidis commented on #85
Fixed thanks @RousseauLambertLP good catch!

[2017-12-15 12:52] RousseauLambertLP commented on #84
After a discussion with @tomkralidis , these failures are normal. The tests are testing to produce some failures.

And as we can see at the end of the test, Pygeometa tells us that the tests worked:

[code]

[2017-12-15 13:05] #84 closed

[2017-12-15 13:45] alexandreleroux commented on #84
Thanks guys, what about changing the 'OK' ambiguous message in this context (given error messages precedes) to something clearer such as 'OK - Self tests completed successfully without error' or something like that? @tomkralidis @RousseauLambertLP

[2017-12-15 13:52] tomkralidis commented on #84
@alexandreleroux the message outputs are standard Python `unittest` verbiage.  I'd rather not implement something custom given all we get with Python's testing support out of the box.  In addition, regardless of the output messages one can also check the status code (0=success) of the process.

[2017-12-15 15:20] RousseauLambertLP commented on #85
I did a short version section in the MCF doc.

See:

https://github.com/RousseauLambertLP/pygeometa/blob/mcf-version-doc/doc/MCF_Reference.md#version

[2017-12-15 15:47] alexandreleroux commented on #85
thanks @RousseauLambertLP , good work :-) Comments:
* typo: pygeometa doesn't have a capital P
* why do we state that pygeometa will support "previous major MCF versions"? I'm not certain we want that! :-)
* typo: sentence ends with a , instead of a .

[2017-12-15 15:51] RousseauLambertLP commented on #85
I though from the previous comments that we wanted to support the previous (n-1) major version. We could removed it for now since we are at version 1...

[2017-12-15 16:04] RousseauLambertLP commented on #76
I tested ERROR, INFO and DEBUG, that all work fine.

But I don't see where WARNING is used in the code...

[2017-12-15 16:10] tomkralidis commented on #76
That's fine for now, and future proofs the CLI.

[2017-12-15 16:13] RousseauLambertLP commented on #55
[identification]:language values verified, they are used with `gco:nilReason`

Now we need to update the docs

[2017-12-18 16:42] RousseauLambertLP commented on #85
Closing the issue, pygeometa validates MCF version and the doc was updated accordingly.

[2017-12-18 16:42] #85 closed

[2017-12-18 16:54] RousseauLambertLP commented on #73
Regarding the documentation on base_mcf behaviour, is this documentation enough:

https://github.com/geopython/pygeometa/blob/master/doc/MCF_Reference.md#nesting-mcfs

Should we close the ticket?

[2017-12-18 16:56] RousseauLambertLP commented on #73
But I think we should remove ```The base_mcf file must be in the same folder than the current MCF```

I don't think this is true anymore. For example, geomet MCF is not in the same folder as msc-nwp-gdps.yml and it works fine.

If you want I can update the doc.

[2017-12-18 16:59] alexandreleroux commented on #73
+1 to remove the "same folder" mention, that's not valid anymore, I'd also rephrase "In the case the user" to "In the case where the user", otherwise, sounds good to me to close this ticket :-) Thanks!

[2017-12-18 19:00] #73 closed

[2017-12-19 15:53] RousseauLambertLP commented on #33
This is documented in the "Sections" part of https://github.com/RousseauLambertLP/pygeometa/blob/master/doc/MCF_Reference.md Those keywords who require _en and _fr are identified in the tables.

Should we close the ticket?

[2017-12-19 16:06] alexandreleroux commented on #33
Thanks @RousseauLambertLP . The intention here is to document the generic multiple language support in MCFs. What is currently documented is for _fr and _en. The goal is to let users know how to add their own language (e.g. _es for Spanish) in MCFs. Can you address this? Thanks!

[2017-12-20 20:11] alexandreleroux commented on #65
As far as I can see, elements needed to be fixed in MCF_Reference.md:
* identification
  * title
  * abstract
  * rights
  * keywords
* contact
  * organization
* distribution
  * name
  * description

[2017-12-22 13:15] RousseauLambertLP opened #91 "Duplicate values for <gmd:distribution format>"
When pygeometa generates the xml metadata files, it creates a ```<gmd:distribution format>``` for each value in ```distribution``` even if the distribution format already exists.

Example in MSC case:
Under ```distribution``` in the YAML file we have 3 distribution types:
* Datamart
* GeoMet
* AMQP

For each of these distribution type we have a ```format_en``` and ```format_fr``` tag. pygeometa cr

[2017-12-22 13:44] RousseauLambertLP opened #92 "iso19139-hnap schema rule fails"
I looked at https://github.com/geopython/pygeometa/blob/master/pygeometa/templates/iso19139-hnap/main.j2#L421-454 and saw that only if the CRS value is not equal to '4326' the BBOX value should be written on the same line. If the CRS is set to 4326, it should use the {else} tag where the max lat, lon and min lat lon should be written separately on different lines.

We have a few models which uses

[2017-12-22 15:16] RousseauLambertLP commented on #92
I pushed a change in my branch to correct this issue. https://github.com/RousseauLambertLP/pygeometa/commit/bc097917d64473ce8c0bd702ad2b148482076a2b

The problem was that in the YAML we had:
[code]
The value 4326 is read has integer and in the main.j2 files:
[code]
The brackets around 4326 passed it as string. Thus, when comparing an integer to a string it failed... I simply removed the ' ' around

[2017-12-22 15:18] tomkralidis commented on #92
+1

[2017-12-22 15:24] #92 closed

[2017-12-23 02:07] tomkralidis commented on #91
@RousseauLambertLP can you send a test case/data?

[2017-12-27 12:59] RousseauLambertLP commented on #91
The distribution info duplicate sections are exactly the same but are there twice or four time... I tried to modify a xml by removing the duplicate tags and it imported well in ECDC.

This is what we have for the moment:
[code]

We only need to have it once for each distribution format:
[code]

[2017-12-29 13:24] RousseauLambertLP commented on #91
I have worked on a solution regarding the duplication of distribution format in iso19139-hnap xml.

I've added a function in core.py called ```get_unique_distribution_format```.  This function returns a list of dictionaries containing the unique distribution format. I call it in the main.j2 file of iso19139-hnap. I've tested it  by importing and publishing it in ECDC and it works fine. We now only

[2017-12-30 20:37] tomkralidis commented on #91
@RousseauLambertLP good suggestion.  Comments:

- we should apply this to all ISO-based output templates
- the code snippet above only takes in account `format_en`, `format_fr`, `format_version`.  What happens if/when other language profiles are used?
- we should add test case to unit tests

[code]

[2018-01-08 13:53] alexandreleroux commented on #65
thanks @RousseauLambertLP . Typo on L111 "Optinal", please fix, otherwise all fine :-)

[2018-01-09 11:58] RousseauLambertLP commented on #65
Typo fixed in pull request. Thanks!

[2018-01-09 13:21] #65 closed

[2018-01-10 14:28] RousseauLambertLP commented on #33
Closing this issue, we have added and merged the documentation, see: https://github.com/geopython/pygeometa/blob/master/doc/MCF_Reference.md#multiple-languages-support

[2018-01-10 14:28] #33 closed

[2018-01-11 12:21] RousseauLambertLP commented on #91
Issue solved, closing ticket.

[2018-01-11 12:21] #91 closed

[2018-01-11 18:30] RousseauLambertLP commented on #55
Fixed in Merge request #96 , closing the issue.

[2018-01-11 18:30] #55 closed

[2018-02-22 13:03] alexandreleroux commented on #76
thanks @RousseauLambertLP for the validation and thanks @tomkralidis for the implementation! Closing ticket

[2018-02-22 13:03] #76 closed

[2018-05-01 12:41] RousseauLambertLP opened #102 "Pygeometa doesn't support dates older than 1900"
When trying to use a creation or publication date older than 1900, I get an error:

[code]

Looks like the problem is with the ```datestring``` library.

[2018-05-01 14:36] #102 closed

[2018-05-02 18:56] RousseauLambertLP opened #104 "MCF nesting doesn't support multiple chain nesting"
Unlike what's mentioned in the [doc](https://github.com/geopython/pygeometa/blob/master/doc/MCF_Reference.md#nesting-mcfs), pygeometa doesn't seem to support chain nesting.

It looks like it's only reading one level of MCF nesting.

For example, first I create a MCF for the radar model using a base_mcf for the contact information. Then I'm trying to create a specific radar layer MCF using the rada

[2018-05-09 18:37] #104 closed

[2018-05-09 18:37] tomkralidis commented on #104
Fixed in master.

[2018-08-28 17:37] alexandreleroux opened #108 "Error parsing options after generate-metadata change"
Since latest change 99d6b7be2c704153bc96f475e492939882d79b0d , I get an error parsing options.

Trace:
[code]
With another schema such as iso19139, I get the same error.

[2018-08-28 17:39] alexandreleroux commented on #108
false alarm, bad copy-paste

[2018-08-28 17:39] #108 closed

[2019-01-17 15:17] alexandreleroux commented on #5
To investigated (suggested by a colleague): [jsonschema](https://github.com/Julian/jsonschema) could be used to validate the MCF content once it's imported as a Python dictionary.

[2019-03-06 16:11] geofbaum opened #109 ""AttributeError: 'str' object has no attribute 'items'" when reading in a custom .yml file"
Hello,

Not sure if this issue is specifically with pygeometa or if there is another issue somewhere in my workflow. I'm working to create metadata files for all of my companies geospatial data. As a test, I created a test yaml file based on the sample one from this repository, and updated it with information pertinent for my use.  Pygeometa works fine and creates an xml file if I have everything

[2019-03-07 13:25] tomkralidis commented on #109
@geofbaum thanks for the report.  I am unable to reproduce.  The following works for me:

[code]

[2019-03-07 15:02] geofbaum commented on #109
@tomkralidis Thanks for your reply, when I copy and paste your code into the same JupyterLab it works even with me subbing out 'another title' for the extracted title that I was attempting to use before. So there's something going on I assume somewhere with my code. I'll start adding each section that I want to change to your example code line by line and see where the issue is coming from and rep

[2019-03-07 15:30] geofbaum commented on #109
Well I found it, and it's my error and my fault for not triple checking my code. I was passing a url value in the distribution section directly to a url section like ```d['distribution']['url']``` and not to a section like ```d['distribution']['wms']['url']```. Sorry again @tomkralidis !

[2019-03-07 15:30] #109 closed

[2019-03-07 15:34] tomkralidis commented on #109
@geofbaum all good - thanks for following up and good luck!

[2019-03-27 19:06] tomkralidis opened #111 "add capability for generic extent object"
We currently represent spatial properties with the top level `spatial` object.  We have use cases which require the use of multiple spatial extents and projections.

The proposal is to model this after 19115:2003 as follows:

[code]

...and thus remove `spatial` from the root as well as move `temporal_begin` and `temporal_end` from `identification` object.

[2020-04-23 22:23] tomkralidis commented on #4
Website published to https://geopython.github.io/pygeometa

@alexandreleroux can we close?

[2020-04-24 12:07] alexandreleroux commented on #4
Thanks a lot @tomkralidis !

[2020-04-24 12:07] #4 closed

[2020-05-08 19:15] epifanio opened #118 "SyntaxWarning on import"
reporing a warning -
Testing a pip-installed version of `pygeometa` I got a warning at the import - on `python-3.8.2`:

[code]

[2020-05-09 01:05] #118 closed

[2020-05-09 01:05] tomkralidis commented on #118
@epifanio thanks for the report.  Fixed in #119.  Can you validate?

[2020-07-30 15:36] ejwelton opened #123 "Add capability to add/edit wmdr:observation information"
Various templates exist for WMDR elements, but observation is currently excluded. The OSCAR API requires at least one observation for each programAffiliation. To fully utilize pyoscar for uploading XML an observation template would be required.

[2020-10-30 11:59] LM-HZG commented on #79
Hello there,
or group would be interested exactly in both the use cases described by @alexandreleroux. At first, we would like to be able to import XML encoded sample files to understand the structure and potential use of pygeometa and MCFs for our metadata publication workflows.

@tomkralidis Has there been any progress concerning this? Has this commit from the first of Nov. 2017 made it into the

[2020-10-31 00:14] tomkralidis commented on #79
There hasn't been much progress, however contributions are welcome.  Note that any import to MCF type functionality from formal metadata standards will be lossy, but a full crawl of OWSLib's ISO object model will do the trick.

[2020-11-03 12:35] pvgenuchten opened #125 "enable a STAC export of mcf"
As suggested in https://github.com/geopython/pygeoapi/pull/563#discussion_r515714896 provide a mechanism to export a mcf as a metadata document describing a STAC-item (encoded in yml)

STAC item spec is defined at https://github.com/radiantearth/stac-spec/blob/master/item-spec/common-metadata.md#stac-common-metadata

[2020-11-10 17:45] gamesbook opened #126 "Pin requirements to stable versions"
Is it possible to pin requirements to stable versions of dependencies?  Jinja2 for example, has a 3.0.0alpha that now gets installed whereas it would be better to use the stable 2.11.2 release.  We need to be able to install a version of pygeometa that still runs under Python 2.7.

[2020-11-11 11:35] tomkralidis commented on #126
Running `pip install jinja2 -U` installs 2.11.2.  The [current listing on PyPI](https://pypi.org/project/Jinja2/) also shows 2.11.2.

As well, pygeometa dropped Python 2 support [some time ago](https://github.com/geopython/pygeometa/pull/113).

[2020-11-11 11:35] #126 closed

[2020-11-11 12:21] gamesbook commented on #126
Thanks Tom (yes, I was being very optimistic about the Python 2 part).

[2020-11-16 02:32] tomkralidis commented on #111
Implemented in master.

[2020-11-16 02:32] #111 closed

[2020-11-16 14:55] tomkralidis commented on #125
As discussed in #130 perhaps MCF is more aligned to the STAC collection spec.  Having said this, there's no reason we can't support both levels of granularity depending on the workflow. @pvgenuchten thoughts?

[2020-12-21 12:53] tomkralidis commented on #125
implemented in #130

[2020-12-21 12:53] #125 closed

[2021-01-08 08:38] pvgenuchten opened #135 "mcf to dcat as json-ld"
an efficient export option of mcf to dcat could be to export the mcf as-is (encoded as json) and append a ld-context which annotates the mcf properties as dcat properties

dcat in json-ld is interesting because it can instantly be read by google crawler to feed google dataset search (as alternative to schema.org)

other tools in the dcat domain seem more oriented on xml/rdf encoding of dcat, maybe

[2021-01-13 02:56] tomkralidis commented on #135
Merged; thanks @pvgenuchten , great addition!

[2021-01-13 02:56] #135 closed

[2021-01-25 14:01] thineshsornalingam opened #138 "Update wmdr schema location"
Please update WMDR location from http://schemas.wmo.int/wmdr/1.0/wmdr.xsd to http://schemas.wmo.int/wmdr/1.0RC9/wmdr.xsd.

Thanks
Thinesh S.

[2021-01-25 14:03] thineshsornalingam opened #139 "Make gml:id unique"
In support of mulitple wmdr:facility, please ensure all gml:id attributes have unique values.

Thanks
Thinesh S.

[2021-01-25 14:06] tomkralidis commented on #139
Fixed in fc7d3bb76c99ad824167ea1de23b50e17e743f77

[2021-01-25 14:06] #139 closed

[2021-01-25 14:07] tomkralidis commented on #138
Fixed in fc7d3bb76c99ad824167ea1de23b50e17e743f77

[2021-01-25 14:07] #138 closed

[2021-01-27 16:50] thineshsornalingam commented on #123
Hi Tom,

Per our discussion, recording it here:

We also got the same request from Government of British Columbia who would like to upload/update sensor and observed variable. Just adding to the interest in this feature.

Thank you
Thinesh S.

[2021-01-27 16:54] thineshsornalingam opened #140 "Automatically look up climate zones"
It will be great to automatically look-up and populate the following elements based on the station's coordinate:

- Climate zone

- Predominant surface cover

- Surface roughness

- Topography or bathymetry

- Population in 10km / 50km (in thousands)

Thanks
Thinesh S.

[2021-01-28 11:50] tomkralidis commented on #123
Implemented in #141

[2021-01-28 11:50] #123 closed

[2021-10-02 12:39] mdouchin opened #150 "Add support for QGIS metadata storage format qmd"
I would like to contribute in pygeometa by adding the support of the QGIS metadata *.qmd storage file, which is XMLbased

I have seen there are multiple ways to do so

* Use a pure python approach like for DCAT (if I am correct)
* use a Jinja template file such as the ISO formats
* Use a yml file ?

What do you think is the best approach here ? I would say Jinja

[2021-10-05 02:26] tomkralidis commented on #150
What is the workflow then?  Creating a QGIS resource QMD from an MCF?

Agree.  While you could use any approach given the design of the pygeometa base output schema plugins, Jinja2 is probably the most approachable overall.  You could also use lxml or xml.etree if you want/need finer control.

[2021-11-05 18:32] alexandreleroux commented on #5
Big thanks @tomkralidis for the initial implementation!

Seems like the current validation code does not work when [pygeometa's nesting feature](https://geopython.github.io/pygeometa/reference/mcf/#nesting-mcfs) is used in an MCF. Do you foresee a solution? Merci !

[2022-02-06 05:01] aijogja opened #157 "Generate xml string (render_j2_template) got an error"
I use this sample mcf https://github.com/geopython/pygeometa/blob/master/sample.yml

when I run `pygeometa metadata generate path/to/file.yml --schema=iso19139` I got an error `jinja2.exceptions.UndefinedError: 'dict object' has no attribute 'main'`

[2022-02-06 05:12] aijogja commented on #157
I run the [run_tests.py](https://github.com/geopython/pygeometa/blob/master/tests/run_tests.py) also got a similar error.

[2022-02-06 21:17] tomkralidis commented on #157
Thanks for the report.  Which version of pygeometa are you using?

[2022-02-07 02:21] tomkralidis commented on #157
Note: if you are downloading from PyPI, pygeometa was updated today to 0.9.0 and test again.

[2022-02-07 02:33] aijogja commented on #157
I used pygeometa 0.8.0.
Okay, I will try to update it to 0.9.0.
Thank you Tom

[2022-02-07 12:51] aijogja commented on #157
It works.
Thanks Tom

[2022-02-07 12:52] #157 closed

[2022-02-14 15:03] pvgenuchten opened #159 "Option to describe attributes"
This is a request to add a section on pygeometa mcf to describe attributes of a dataset.

attributes typically have non-human friendly labels. In metadata you can give a description of attribute names which are localised and human friendly, plus extra details such as type and extra metadata. 4 use cases:

- option to give localised human friendly label for attributes
- In the mcf to iso19139 conve

[2022-03-02 11:59] tomkralidis commented on #159
Good idea @pvgenuchten.  Proposal below:

[code]
...where `values` could be one of:

[code]

[code]

Thoughts?

[2022-03-10 16:38] pvgenuchten commented on #79
I wonder if we can use the jinja template to reverse engineer the metadata structure; like described at https://stackoverflow.com/questions/37813550/is-it-possible-to-use-a-jinja2-template-to-reverse-engineer-the-parameters-from

[2022-03-11 09:11] pvgenuchten commented on #159
Yes, good suggestion,
do we need a thing on cardinality (0,,1..n)
i think we need more guidance on codelist:

- as well as an option to reference an online codelist like:

[code]

- or write out the list

[code]

[2022-03-11 18:27] tomkralidis commented on #79
FYI now implemented via #160.

[2022-03-11 18:31] #79 closed

[2022-03-15 01:49] tomkralidis commented on #159
@pvgenuchten proposal for values, being one of:

### enum
[code]

### range
[code]

### codelist
[code]

[2022-03-16 01:59] tomkralidis commented on #159
@pvgenuchten PR in #62

[2022-03-17 08:25] pvgenuchten commented on #159
should be #162, giving it a look

[2022-03-21 16:44] pvgenuchten opened #163 "import/export functionality of mcf to datacite"
In science [datacite](https://datacite.org/) is a quite common format for describing articles and datasets. It is for example used in [DOI](doi.org). conversion of Datacite to and from mcf would be interesting for the following use cases:

- Importing datacite metadata from DOI is a good start for a new mcf
- Exporting mcf to datacite can enable metadata harvesting by DataCite oriented catalogues

[2022-03-24 21:15] tomkralidis commented on #159
Implemented in #162

[2022-03-24 21:15] #159 closed

[2022-03-25 11:09] tomkralidis commented on #163
@pvgenuchten : is the [datacite](https://schema.datacite.org/meta/kernel-4.0/metadata.xsd) schema what you had in mind for import/export representation?

[2022-03-25 13:03] pvgenuchten commented on #163
A subset of properties exported as json (similar to how dcat is done), import can de used as a start

[2022-06-12 21:00] pvgenuchten opened #169 "access and usage constraints"
in the sample i noticed this section on constraints:

[code]
This seems inspired by how things are done in ISO19115, unfortunately ISO also is not quite optimal.

More important then access constraints is under which conditions/license the work can be (re)used (CC0, CC-BY, ...) (legal-usage-constaints?).

`otherRestrictions` is not a proper value by itself, in iso it is usually combined with a sec

[2022-06-18 12:24] tomkralidis opened #171 "improve contact handling on ISO based schema output"
Currently:
- we only emit `pointOfContact` or `distributor` contact types in ISO (BUT they are used in other schema outputs, such as OARec for example)
- the `distributor` contact is fixed to `gmd:MD_Metadata/gmd:distributionInfo//gmd:distributorContact`
- the `pointOfContact` contact is fixed to `gmd:MD_Metadata/gmd:contact`
- reviewing the ISO schema, `gmd:MD_Metadata/gmd:identificationInfo` has

[2022-06-19 13:31] tomkralidis commented on #171
Fixed in #172

[2022-06-19 13:31] #171 closed

[2022-08-10 09:32] pvgenuchten opened #174 "use of json arays in yaml"
for keywords and bounding box the json syntax is used inside yaml

https://github.com/geopython/pygeometa/blob/253a78fdd4594df0dbce127d3d3c1b2407511897/sample.yml#L53

This presents challenges for example in case I use yaml.dump to serialise a python object to disk as yaml

I wonder why the array are not encoded as yaml, eg

[code]

[2022-08-11 11:17] pvgenuchten opened #175 "guidance on how to keep distributions"
at iso1913 exports all my distributions get 'lost'

i was looking at this code
https://github.com/geopython/pygeometa/blob/253a78fdd4594df0dbce127d3d3c1b2407511897/pygeometa/core.py#L208-L219

i don't see how language would be a part of nil_reasons as suggested there

[2022-08-11 13:05] pvgenuchten opened #176 "template_dir and importlib/pkg_resources"
Currently the template_dir to a custom schema implementation requires a phisical path on disk
It would be nice if pygeoapi would also be able to leverage packaged resources either with importlib of pkg_resources?
any thoughts on this?

[2022-08-22 10:17] pvgenuchten opened #177 "dcat keyword error from geopython workshop"
!pygeometa metadata generate ../data/countries.yml --schema dcat --output /tmp/countries.xml

throws:

Traceback (most recent call last):
  File "/usr/local/bin/pygeometa", line 8, in <module>
    sys.exit(cli())
  File "/usr/lib/python3/dist-packages/click/core.py", line 1128, in __call__
    return self.main(*args, **kwargs)
  File "/usr/lib/python3/dist-packages/click/core.py", line 1053, in ma

[2022-08-24 15:59] ldesousa opened #178 "Install failing on Ubuntu 22.04"
The full log is below. Looks like the wiring between some of the dependencies is failing around pyproj.

[code]

[2022-08-27 13:04] ldesousa commented on #178
Conclusions so far from the FOSS4G code sprint:
- this error is caused by a missing dependency: cython (Python, no system)
- manually installing cython solves the issue (`pip install cython`)
- but with cython in the `requirements.txt` file the install fails as before

[2022-08-27 13:18] ldesousa commented on #177
I can replicate this error with the `sample.yml` file (log below). This also means a test might be missing.

[code]

[2022-08-27 15:52] ldesousa opened #180 "VCard semantics in DCat schema"
I transformed the JSON-LD output to Turtle for legibility (see below). The organisation instance is using the vcard:fn predicate, which is a data property of the Individual class. Basically it says that the full name of EC is "Tom Kralidis". The semantics of VCard must be revised.

[code]

[2022-08-28 06:56] #177 closed

[2022-08-28 06:57] tomkralidis commented on #178
@ldesousa does running `pip install pip -U` (right after creating the virtualenv) help at all?  Also cc'ing @kalxas here for any feedback/insight.

[2022-08-28 09:08] ldesousa commented on #178
@tomkralidis Nope, that resulted in the same error.

[2022-08-28 10:16] ldesousa commented on #180
Below is a snippet from the JSON-LD output for the `sample.yml` file. The contact individual is replicated and is not interpreted correctly by the RDF parser.

[code]

[2022-08-28 10:21] kalxas commented on #178
The best option is to install cython at the OS level.
I am wondering why pyproj is not listing cython as requirement.

Found that the python3-pyproj debian package lists cython as a build time dependency:
https://salsa.debian.org/debian-gis-team/python-pyproj/-/blob/master/debian/control#L9

[2022-08-28 10:21] tomkralidis commented on #178
Perhaps we should remove pyproj (which is used minimally) as a core OWSLib dependency.

[2022-08-28 10:25] kalxas commented on #178
It is not listed in debian :)
https://salsa.debian.org/debian-gis-team/owslib/-/blob/master/debian/control

[2022-08-28 11:21] tomkralidis commented on #178
FYI pyproj is removed as a core dep in OWSLib as of 0.27.1.  Suggest a clean install for verify.

[2022-08-28 11:27] tomkralidis commented on #178
Ref: https://github.com/geopython/OWSLib/commit/26d71fcb192714e9281313cafb4ff1306ee663e6

[2022-08-28 11:29] ldesousa commented on #178
Clean install successful after pyproj dependency removed from OWSLib 0.27.1.

[2022-08-28 11:29] #178 closed

[2022-08-28 14:26] ldesousa commented on #180
I start [the map in my fork](https://github.com/ldesousa/pygeometa/blob/issue%23180/pygeometa/schemas/dcat/MapW3C.csv). Still has some ways to go, but could already be usable. When the DataProperty column has content a literal is sufficient. Otherwise, if the content is in the ObjectProperty column the a new instance is necessary, of the type in the Range column

[2022-08-28 15:29] pvgenuchten commented on #177
Thanx @ldesousa

[2022-10-03 13:25] KoalaGeo opened #184 "Feature Request: Import of CSV + New metadata profiles"
We're considering the potential to merge the functionality of a couple of other projects into pygeometa

Namely the ability to submit CSV files as - https://github.com/AstunTechnology/gemini_csv_import

We'd also need to add profiles for two further metadata standards (based on ISO 19139) to allow validation / creation of XML/JSON:
- UKGemini (https://github.com/agiorguk/gemini-schematron)
- MEDIN

[2022-11-13 16:07] maixino opened #188 "Error in the creation of discovery metadata"
Dear All,
I would like to create discovery metadata from my xml files that I converted to yaml with the pygeometa project when I type the command wis2box metadata discovery publish $WIS2BOX_DATADIR/metadata/discovery/MD_2M_TempM.yml
I get this error message : Setting up logger with level: INFO
/usr/local/lib/python3.9/site-packages/elasticsearch-7.17.7-py3.9.egg/elasticsearch/connection/base.py:20

[2022-11-13 16:09] maixino commented on #188
[Climate and health Bulletin.zip](https://github.com/geopython/pygeometa/files/9997698/Climate.and.health.Bulletin.zip)

[2022-11-18 10:59] pvgenuchten opened #189 "add scale and distance to spatial section"
scale and/or distance (resolution) are 2 common fields in many iso19139 oriented metadata profiles, such as https://geonovum.github.io/Metadata-ISO19115/#resolutie. I suggest to include these properties in either the spatial or content section of pygeometa, and return them as part of the iso19139 generation in the relevant fields

identificationInfo[1]/*/spatialResolution/*/equivalentScale/*/denom

[2022-11-24 21:44] pvgenuchten opened #190 "iso19139 generation fails if distribution.1.url contains '&'"
an error is thrown:
[code]
If i replace & for `& amp ;` it works fine.

Is this a problem of pygeometa or is the expectation that url's are already encoded within yaml?

[code]

[2022-11-24 22:04] pvgenuchten commented on #51
I'm adding a similar workflow to [pygeodatacrawler](https://github.com/pvgenuchten/pyGeoDataCrawler) project (and using pygeometa internally).

- starting point is a csv with wms url's
- for each 'portal' (eg wms endpoint) a folder is created
- the crawler then goes through each of the folders to fetch the metadata records (as mcf.yml)
- an export goes through all the folders to create iso19139 fo

[2022-11-25 00:30] tomkralidis commented on #190
@pvgenuchten I can't reproduce in master.  Can you provide a sample MCF?

[2022-11-25 00:32] tomkralidis commented on #174
@pvgenuchten what are the resulting issues/challenges?  Either approach is valid YAML, AFAICT.

[2022-11-25 00:49] tomkralidis commented on #176
@pvgenuchten does this mean being able to implement a schema via a Python class/factory pattern? i.e.:

[code]

[2022-11-25 00:49] tomkralidis commented on #175
@pvgenuchten thanks for the report. Fixed in #191.  The reason why distributions were not showing up was because pygeometa was expecting distribution keys to have the language as part of the key name (this is for the ISO HNAP case/rendering).  We don't need this kind of magic for anything that is not HNAP.

[2022-11-25 00:49] #175 closed

[2022-11-25 00:56] tomkralidis commented on #184
@KoalaGeo

- adding Gemini and MEDIN would entail putting forth the Jinja2 templates as desired
- for working off CSV as input, the easiest approach would be to parse the CSV into a pygeometa MCF object in memory and generate the resulting metadata in your format of choice, as supported by pygeometa.  We could consider a mapping of CSV columns to MCF fields, but that may be lossy given the nested

[2022-11-25 01:40] tomkralidis commented on #188
Hi @maixino.  Looks like you are running this in the context of [wis2box](https://github.com/wmo-im/wis2box) workflow.

I've isolated/reproduced per below:

[code]

In your MCF, I see the following:

[code]

Given there is no temporal information, do not include the `temporal` property.

Following this, running the MCF again, there are a few errors that require updating:

1. Add `spatial` section:

[2022-11-25 01:46] maixino commented on #188
Hi Tom,
Thank you very much for your reply, I'll try and get back to you.

[2022-11-25 01:53] tomkralidis commented on #188
Sounds good @maixino.  Note the reference documentation for MCF can be found on the [pygeometa](https://geopython.github.io/pygeometa/reference/mcf) website.

[2022-11-25 02:05] maixino commented on #188
to generate my yml files, I used the commands found on your github https://github.com/geopython/pygeometa

[2022-11-25 07:13] pvgenuchten opened #193 "crs:4326 vs crs:'4326' in iso19139"
pygeometa's feature to use a geometry with poslist (instead of east,west,north,south) if the crs is not 4326 also triggers if the crs is '4326' (string).

tools like pycsw currently only support the east,west,north,south format

suggestion is to run float(crs) before making the check

[2022-11-27 07:45] maixino commented on #188
Hi All,
How to make them available on WIS, i.e. display them?
Best regards

[2022-11-27 20:03] pvgenuchten commented on #184
Interesting @KoalaGeo, thanx for sharing. I happened to work on a similar workflow last week at https://github.com/pvgenuchten/pyGeoDataCrawler/blob/main/geodatacrawler. I use a jinja template approach to populate mcf before using pygeometa to transform it to iso19139, see https://github.com/pvgenuchten/pyGeoDataCrawler/blob/main/geodatacrawler/templates/csv.j2

Sure would be interesting to have s

[2022-11-28 23:23] tomkralidis commented on #188
Hi @maixino this repository is specifically for pygeometa.  The [wis2box](https://github.com/wmo-im/wis2box) software uses pygeometa.  Any wis2box related questions should be directed to the wis2box GitHub repository.

[2022-11-28 23:23] #188 closed

[2022-11-30 16:22] pvgenuchten commented on #174
ok clear, no further issues identified, just for clarification

so closing...

[2022-11-30 16:22] #174 closed

[2022-11-30 16:32] pvgenuchten opened #195 "concept from thesaurus as uri+label"
these days catalogues move to capturing concepts (keywords) from thesauri using uri and label. how can I encode uri and label in a single pygeometa keyword property (the label is potentially multilingual)..

current:

[code]

suggested:

[code]

for backwards compatibility, would be good to support both cases

[2022-11-30 21:06] pvgenuchten commented on #190
First, there is something to consider which may explain difficult reproducibility: the default iso19139 schema, for most records, does not return any transferoptions, somehow the `prune_transfer_option` function removes most of the transfer options (a bug?)

You can replace line 401 in main.j2 to `{% for k, v in record['distribution'].items() %}`

then change the wms-url in sample.yml line 123 to

[2022-11-30 21:46] pvgenuchten commented on #190
ok found it, on {{ cs.get_freetext(*) }} the problem does not occur, but on direct substitutions, like {{ v['url'] }} it does.

 cs.get_freetext(*) uses the [`e`](https://tedboy.github.io/jinja2/templ14.html#escape) filter, which manages to escape unsafe characters

suggestion is to use always the e filter on any parameter substituted

[2022-11-30 22:03] #190 closed